body {
    font-family: 'Helvetica', sans-serif;
    background-color: lightblue;
}
.center {
    text-align: center;
}
a, a:visited, a:active {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
section {
    text-align: center;
    padding: 2rem;
}
.bio {
    background-color: pink;
    max-width: 75%;
    margin: 0 auto;
}
div {
    max-width: 85%;
    margin: 0 auto;
}
.bio p, .contact ul {
    text-align: left;
    line-height: 1.5rem;
}
img {
    max-width: 60%;
}
.contact {
    background-color: lightblue;
}